.main_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main_container P {
  color: #464646;
  font-size: 20px;
}

.products_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
































