.cart_page {
  width: 100%;
  display: flex;
  min-height: 500px;
  justify-content: center;
}

.cart_page_center {
  padding-top: 5rem;
  width: 75%;
  color: #464646;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.main_container{
  display: flex;
  gap: 3rem;
}

.products_container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order{
  width: 23%;  
}